name: Job Dependencies Demo

on: 
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build step
        run: echo "Building the application"

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test step
        run: echo "Running tests"

  deploy:
    needs: 
        - test
        - build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy step
        run: echo "Deploying application"